typer~=0.26.7
rich~=15.0.0
questionary~=2.1.1
pydantic~=2.13.4
kubernetes==36.0.2
toml~=0.10.2
requests~=2.34.2
xmltodict~=1.0.4
PyYAML~=6.0.2
tomlkit~=0.15.0
cryptography~=49.0.0
urllib3~=2.7.0
pyOpenSSL~=26.3.0
click~=8.4.1
Jinja2~=3.1.6
packaging~=26.2
ruamel.yaml==0.19.1
typing-extensions==4.15.0
