apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ secret_name }}
  labels:
    ccx.ibm.com/backup-type: mandatory
  annotations:
    ccx.ibm.com/secret-store-type: "{{ secret_store_type }}"
    ccx.ibm.com/owned-by: "{{ owned_by }}"
spec:
  provider: vault
  parameters:
    vaultAddress: "{{ vault_url }}"
    roleName: "{{ vault_role }}"
{% if vault_cert_path %}
    vaultCACertPath: "{{ vault_cert_path }}"
{% endif %}
    objects: |
{% for obj in objects %}
      - objectName: "{{ obj.objectName }}"
        secretPath: "{{ obj.secretPath }}"
        secretKey: "{{ obj.secretKey }}"
{% endfor %}